<h1>HELLO WORLD</h1>

<%= form_tag("/forms", method: "post") do %>
  <%= label_tag(:q, "activate account for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>

<%= @user_id if @user_id %>